.login_container {
  max-width: 524px;
  width: 100%;
  margin: 0 auto;
  padding: 192px 24px;
  h1 {
    text-align: center;
    margin-bottom: 36px;
    font-weight: 400;
  }
}

.login_switch {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  background: #efefef;
  margin-bottom: 126px;
}

.login_switch_button,
.login_switch_button_off {
  width: 100%;
  display: flex;
  background: white;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login_switch_button_off {
  background: transparent;
  box-shadow: none;
}
.form_container {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.form_box {
  width: 100%;
  input {
    outline: none;
    width: 100%;
    height: 50px;
    border: 0px;
    padding: 12px 0px;
    font-size: 16px;
    border-bottom: 1px solid #d8d8d8;
  }
}

.form_checkout {
  display: flex;
  align-items: center;
  gap: 8px;
  input {
    width: 16px;
    height: 16px;
  }
  span {
    font-size: 16px;
  }
}

.button_dark {
  width: 100%;
  height: 50px;
  border: 0px;
  color: white;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.remember {
  text-align: center;
}
