.newsteller_container {
  gap: 16px;
  width: 396px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid black;
  input {
    padding: 12px;

    height: 40px;
    width: 236px;
    border: 0px;
    outline: none;
  }

  svg {
    width: 26px;
  }
}
